@gray: #828282;
@black: #070707;
@gray-background: #F6F6F6;

.content {
  width: 940px;
  margin: 0 auto;

  &__hr {
    height: 1px;
    width: 100%;
    background: @gray;
    margin-top: 32px;
  }

  &__photo {
    margin-top: 54px;
  }

  &__about {
    padding-top: 120px;
    margin-top: 108px;
    background-color: @gray-background;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;

  &__nav {
    color: @gray;
    font-size: 18px
  }
}

.description {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  &__name {
    font-size: 47px;
  }

  &__languages {
    transform: rotate(-90deg);
    font-size: 16px;
    position: relative;
    top: -24px;
    right: -24px
  }

  &__about {
    font-size: 18px
  }

  &__languages,
  &__about,
  &__name {
    margin-top: auto;
  }
}

.languages--active {
  color: @gray;
}

.about {
  &__description {
    margin-top: 18px;
    font-size: 16px;
    span {
      font-family: Gilroy-Medium;
    }
  }

  &__header {
    font-size: 34px;
  }
}
